.userContribution {
  display: flex;
  flex-direction: row;
}

#editPost {
  position: fixed;
  top: 30%;
  left: 30%;
  border: 1px solid black;
  padding: 5px;
  background-color: red;
}

#deletePost {
  position: fixed;
  top: 30%;
  left: 30%;
  border: 1px solid black;
  padding: 5px;
  background-color: red;
}
